@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PhamNguyenTrongTuanMVC.Models.Account.UpdateAccountViewModel

<!-- Modal -->
<div class="modal fade"
     id="editAccountModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold"> New</span>
                    <span class="fw-light"> Account </span>
                </h5>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Edit" asp-controller="Account" method="post" id="updateAccountForm">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <p class="small">
                        Update account using this form, make sure you
                        fill them all
                    </p>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="AccountId" hidden class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="AccountName"></label>
                        <input asp-for="AccountName" class="form-control" placeholder="Name" />
                        <span asp-validation-for="AccountName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AccountEmail"></label>
                        <input asp-for="AccountEmail" class="form-control" placeholder="Email" />
                        <span asp-validation-for="AccountEmail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AccountRole"></label>
                        <select asp-for="AccountRole" class="form-control">
                            <option value="">Select Role</option>
                            <option value="Lecturer">Lecturer</option>
                            <option value="Staff">Staff</option>
                        </select>
                        <span asp-validation-for="AccountRole" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer border-0">
                    <button type="button"
                            class="btn btn-primary"
                            id="updateAccountButton">
                        Update
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->